SECRET_KEY=product-secret-key
DEBUG=True
ALLOWED_HOSTS=*
DB_NAME=product_db
DB_USER=product_user
DB_PASSWORD=product_pass
DB_HOST=product-db
DB_PORT=5432
JWT_SIGNING_KEY=shared-jwt-signing-key
INTERNAL_SERVICE_JWT_SECRET=internal-service-secret
INTERNAL_SERVICE_JWT_ALGORITHM=HS256
INTERNAL_SERVICE_ISSUER=order-service
INTERNAL_SERVICE_AUDIENCE=product-service
