SECRET_KEY=order-secret-key
DEBUG=True
ALLOWED_HOSTS=*
DB_NAME=order_db
DB_USER=order_user
DB_PASSWORD=order_pass
DB_HOST=order-db
DB_PORT=3306
CART_SERVICE_URL=http://cart-service:8003
PRODUCT_SERVICE_URL=http://product-service:8001
PAYMENT_SERVICE_URL=http://payment-service:8005
SHIPPING_SERVICE_URL=http://shipping-service:8006

